* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100vw;
    padding-top: 15px;
}

.container {
    width: 96%;
    margin: auto;
}

a {
    font-size: 0.75rem;
    color: #444;
    letter-spacing: 0.01rem;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    list-style-type: none;
}

li {
    display: inline-block;
}

li:not(:last-child) {
    margin-right: 20px;
}


/* -------------------------------------  N A V */

.nav {
    display: flex;
    justify-content: space-between;
}

#nav-right, #nav-left {
    display: flex;
    align-items: center;
    align-content: center;
}

#nav-right .user img {
    height: 32px;
}

#nav-right .material-icons {
    color: #888;
    position: relative;
}

#nav-right .material-icons:hover {
    color: #333;
}

#nav-right .dropdown-hidden {
    display: none;
}

#nav-right .dropdown-visible {
    width: 340px;
    max-height: calc(100vh - 400px);
    position: absolute;
    top: 60px;
    right: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 2px #8885;
    overflow: hidden;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;;
}

.dropdown-visible > a {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown-visible > a:hover {
    background-color: #f6fafe;
    border-radius: 8px;
    cursor: pointer;
}

.dropdown-visible a h1 {
    font-size: 14px;
    font-weight: 500;
    color: #404040;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: .09px;
    line-height: 16px;
}

.dropdown-visible a img {
    max-width: 46px;
    max-height: 46px;
    margin-bottom: 8px;
}


/* ------------------------------------  M A I N */
main {
    width: 100vw;
    display: inline-block;
    text-align: center;
    padding: 150px 0px;
}

.logo img {
    height: 120px;
    margin-bottom: 15px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 582px;
    border: 1px solid #8885;
    border-radius: 30px;
    padding: 8px 20px;
    margin: auto;
}

.search:hover {
    box-shadow: 0px 2px 7px 1px #8884;
}

.search .material-icons {
    width: 5%;
    color: #aaa;
}

.search input {
    border: none;
    font-size: 18px;
    color: #333;
    width: 85%;
}

.search input:focus {
    outline: none;
}

.search a {
    width: 5%;
    display: flex;
    align-items: center;
}

.search a img {
    height: 26px;
}

.buttons {
    width: 312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.buttons button {
    font-size: 14px;
    color: #555;
    background-color: #eee;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
}

.buttons button:hover {
    box-shadow: 0px 2px 4px #8888;
}

main p {
    font-size: 15px;
    color: #444;
    margin-top: 30px;
}

main p a {
    text-decoration: none;
    color: #1a0dab;
}

main p a:hover {
    text-decoration: underline;
}


/* ------------------------------ F O O T E R */

footer {
    width: 100%;
    height: 9%;
    position: fixed;
    bottom: 0;
}

#footer-top {
    height: 50%;
    background-color: #f2f2f2;
    border: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
}

#footer-bottom {
    height: 50%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


















/* END */
